//! **************************************************************************
// Written by: Map P.20131013 on Fri Oct 10 17:05:07 2014
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "P144";
PROHIBIT = SITE "P69";
PROHIBIT = SITE "P60";
COMP "SPI_SCK" LOCATE = SITE "P70" LEVEL 1;
COMP "CLK" LOCATE = SITE "P94" LEVEL 1;
COMP "RXD" LOCATE = SITE "P46" LEVEL 1;
COMP "TXD" LOCATE = SITE "P141" LEVEL 1;
COMP "SPI_MISO" LOCATE = SITE "P65" LEVEL 1;
COMP "SPI_MOSI" LOCATE = SITE "P64" LEVEL 1;
COMP "sram_addr<0>" LOCATE = SITE "P7" LEVEL 1;
COMP "sram_addr<1>" LOCATE = SITE "P8" LEVEL 1;
COMP "sram_addr<2>" LOCATE = SITE "P9" LEVEL 1;
COMP "sram_addr<3>" LOCATE = SITE "P10" LEVEL 1;
COMP "sram_addr<4>" LOCATE = SITE "P11" LEVEL 1;
COMP "sram_addr<5>" LOCATE = SITE "P5" LEVEL 1;
COMP "sram_addr<6>" LOCATE = SITE "P2" LEVEL 1;
COMP "sram_addr<7>" LOCATE = SITE "P1" LEVEL 1;
COMP "sram_addr<8>" LOCATE = SITE "P143" LEVEL 1;
COMP "sram_addr<9>" LOCATE = SITE "P142" LEVEL 1;
COMP "sram_ce" LOCATE = SITE "P12" LEVEL 1;
COMP "sram_oe" LOCATE = SITE "P26" LEVEL 1;
COMP "sram_we" LOCATE = SITE "P6" LEVEL 1;
COMP "sram_data<0>" LOCATE = SITE "P14" LEVEL 1;
COMP "sram_data<1>" LOCATE = SITE "P15" LEVEL 1;
COMP "sram_data<2>" LOCATE = SITE "P16" LEVEL 1;
COMP "sram_data<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "sram_data<4>" LOCATE = SITE "P21" LEVEL 1;
COMP "sram_data<5>" LOCATE = SITE "P22" LEVEL 1;
COMP "sram_data<6>" LOCATE = SITE "P23" LEVEL 1;
COMP "sram_data<7>" LOCATE = SITE "P24" LEVEL 1;
COMP "Arduino_0" LOCATE = SITE "P116" LEVEL 1;
COMP "Arduino_1" LOCATE = SITE "P117" LEVEL 1;
COMP "Arduino_2" LOCATE = SITE "P118" LEVEL 1;
COMP "Arduino_3" LOCATE = SITE "P119" LEVEL 1;
COMP "Arduino_4" LOCATE = SITE "P120" LEVEL 1;
COMP "Arduino_5" LOCATE = SITE "P121" LEVEL 1;
COMP "Arduino_6" LOCATE = SITE "P123" LEVEL 1;
COMP "Arduino_7" LOCATE = SITE "P124" LEVEL 1;
COMP "Arduino_8" LOCATE = SITE "P126" LEVEL 1;
COMP "Arduino_9" LOCATE = SITE "P127" LEVEL 1;
COMP "SPI_CS" LOCATE = SITE "P38" LEVEL 1;
COMP "ARD_RESET" LOCATE = SITE "P139" LEVEL 1;
COMP "sram_addr<10>" LOCATE = SITE "P43" LEVEL 1;
COMP "sram_addr<11>" LOCATE = SITE "P41" LEVEL 1;
COMP "sram_addr<12>" LOCATE = SITE "P40" LEVEL 1;
COMP "sram_addr<13>" LOCATE = SITE "P35" LEVEL 1;
COMP "sram_addr<14>" LOCATE = SITE "P34" LEVEL 1;
COMP "sram_addr<15>" LOCATE = SITE "P27" LEVEL 1;
COMP "sram_addr<16>" LOCATE = SITE "P29" LEVEL 1;
COMP "sram_addr<17>" LOCATE = SITE "P33" LEVEL 1;
COMP "sram_addr<18>" LOCATE = SITE "P32" LEVEL 1;
COMP "Arduino_10" LOCATE = SITE "P131" LEVEL 1;
COMP "Arduino_11" LOCATE = SITE "P132" LEVEL 1;
COMP "Arduino_20" LOCATE = SITE "P101" LEVEL 1;
COMP "Arduino_12" LOCATE = SITE "P133" LEVEL 1;
COMP "Arduino_21" LOCATE = SITE "P100" LEVEL 1;
COMP "Arduino_13" LOCATE = SITE "P134" LEVEL 1;
COMP "Arduino_30" LOCATE = SITE "P85" LEVEL 1;
COMP "Arduino_22" LOCATE = SITE "P99" LEVEL 1;
COMP "Arduino_14" LOCATE = SITE "P115" LEVEL 1;
COMP "Arduino_15" LOCATE = SITE "P114" LEVEL 1;
COMP "Arduino_23" LOCATE = SITE "P98" LEVEL 1;
COMP "Arduino_31" LOCATE = SITE "P84" LEVEL 1;
COMP "Arduino_32" LOCATE = SITE "P83" LEVEL 1;
COMP "Arduino_40" LOCATE = SITE "P67" LEVEL 1;
COMP "Arduino_24" LOCATE = SITE "P97" LEVEL 1;
COMP "Arduino_16" LOCATE = SITE "P112" LEVEL 1;
COMP "Arduino_41" LOCATE = SITE "P66" LEVEL 1;
COMP "Arduino_25" LOCATE = SITE "P95" LEVEL 1;
COMP "Arduino_33" LOCATE = SITE "P82" LEVEL 1;
COMP "Arduino_17" LOCATE = SITE "P111" LEVEL 1;
COMP "Arduino_26" LOCATE = SITE "P93" LEVEL 1;
COMP "Arduino_50" LOCATE = SITE "P50" LEVEL 1;
COMP "Arduino_42" LOCATE = SITE "P62" LEVEL 1;
COMP "Arduino_34" LOCATE = SITE "P81" LEVEL 1;
COMP "Arduino_18" LOCATE = SITE "P105" LEVEL 1;
COMP "Arduino_43" LOCATE = SITE "P61" LEVEL 1;
COMP "Arduino_51" LOCATE = SITE "P48" LEVEL 1;
COMP "Arduino_27" LOCATE = SITE "P92" LEVEL 1;
COMP "Arduino_35" LOCATE = SITE "P80" LEVEL 1;
COMP "Arduino_19" LOCATE = SITE "P102" LEVEL 1;
COMP "Arduino_52" LOCATE = SITE "P47" LEVEL 1;
COMP "Arduino_44" LOCATE = SITE "P59" LEVEL 1;
COMP "Arduino_36" LOCATE = SITE "P79" LEVEL 1;
COMP "Arduino_28" LOCATE = SITE "P88" LEVEL 1;
COMP "Arduino_45" LOCATE = SITE "P58" LEVEL 1;
COMP "Arduino_53" LOCATE = SITE "P39" LEVEL 1;
COMP "Arduino_29" LOCATE = SITE "P87" LEVEL 1;
COMP "Arduino_37" LOCATE = SITE "P78" LEVEL 1;
COMP "Arduino_38" LOCATE = SITE "P75" LEVEL 1;
COMP "Arduino_46" LOCATE = SITE "P57" LEVEL 1;
COMP "Arduino_39" LOCATE = SITE "P74" LEVEL 1;
COMP "Arduino_47" LOCATE = SITE "P56" LEVEL 1;
COMP "Arduino_48" LOCATE = SITE "P55" LEVEL 1;
COMP "Arduino_49" LOCATE = SITE "P51" LEVEL 1;
SCHEMATIC END;

