archive
del
del1
del2
del3
del4
del5
Chip_Designer

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.rar
*.gise
*.jhd
*.xmsgs
*.bgn
*.bld
*.cmd_log
*.drc
*.lso
*.ncd
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.xpi
*.xwbt
*.html
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.txt
*.xml
libraries/ZPUino_2/circuit/500K/sch2HdlBatchFile
*.log
*.xbcd
*.ref
*.vho
*.lst
*.xreport
*.projectmgr
libraries/ZPUino_2/circuit/LX9/sch2HdlBatchFile
*.vdbl
*.vdbx
*.schlog
*.cmd
libraries/Computing_Shield/circuit/DUO_LX9/usage_statistics_webtalk.html
libraries/Computing_Shield/circuit/DUO_LX9/par_usage_statistics.html
*.vhf
*.xst
libraries/ZPUino_1.zip
libraries/audio libraries -2.0-v1.zip
libraries/AVR_Wishbone_Bridge.zip
libraries/AVR_Wishbone_Bridge.zip
*.zip
hdmi-generic-old/smallfs/image.jpg
*.7z
libraries/Wishbone_Sump_LA/mt48lc16m16a2.vhd