archive

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.rar
*.gise
*.jhd
*.xmsgs
*.bgn
*.bld
*.cmd_log
*.drc
*.lso
*.ncd
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.xpi
*.xwbt
*.html
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.txt
*.xml
libraries/ZPUino_2/circuit/500K/sch2HdlBatchFile
*.log
*.xbcd
*.ref
*.vho
*.lst
*.xreport
*.projectmgr
libraries/ZPUino_2/circuit/LX9/sch2HdlBatchFile
*.vdbl
*.vdbx
*.schlog
*.cmd