div.activediv {
	font-family: Arial, Helvetica;
        font-size: 1em;
        font-weight: bold;
        /*color: #0000a0;*/
        margin-bottom: 1pt;
}
div.data {
	font-family: Arial, Helvetica;
        font-size: 1em;
        color: #f0f0ff;
        margin-bottom: 10pt;
        padding: 10pt;
        border: 1px dashed white;
        background-color: #101010;
}

div.innerdata {
	font-family: Arial, Helvetica;
        font-size: 1em;
        color: #f0f0ff;
        margin-bottom: 10pt;
        margin-top: 10pt;
        padding: 10pt;
        border: 1px dashed white;
        background-color: #202020;
}

pre {
   font-size: 0.8em;
   padding-left: 3em;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   border: 1px dashed rgb(0,0,128);
}

div.disclaimer {
   font-size: 0.9em;
   padding-left: 3em;
   padding-right: 3em;
   padding-top: 0.5em;
   padding-bottom: 1.5em;
   background-color: #202020;
   border: 1px dashed rgb(0,0,128);
}


span.topmenutitle
{
	font-size: 1em;
        font-weight: bold;
}


span.topmenuentry
{
	padding-left: 1em;
        padding-right: 1em;
}

div.date
{
	font-weight: bold;
}

div.news
{
	padding-left: 15px;
        font-size: 1em;
}


table {
	border: 1;
        border-collapse: collapse;
        border-spacing: 0px;
}
th {
	white-space: nowrap; 
        border: 1px solid grey;
        text-align: center;
        background: #202020;
        padding-left: 1em;
        padding-right: 1em;
}
td {
	white-space: nowrap;
}

input {
	background-color: #000030;
        color: white;
        border: 1px solid grey;
}

select {
	background-color: #202020;
        color: white;
        border: 1px solid grey;
}

input.nochange {
       	background-color: #000000; 
}
